<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleShowScrollBars</key>
	<string>WhenScrolling</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{880, 448}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va/wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAANwBAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAABwAAAAEB
	AABuYXRzdWtpAAkAAAABAQAAV29ya3NwYWNlAAAACQAAAAEBAABTeW1ib2xpZnkAAAAD
	AAAAAQEAAG91dAAUAAAAAQYAABAAAAAgAAAAMAAAAEQAAABYAAAACAAAAAQDAADbVAAA
	AAAAAAgAAAAEAwAAKaoGAAAAAAAIAAAABAMAAOxfCgAAAAAACAAAAAQDAAAxkZEKAAAA
	AAgAAAAEAwAAjYGVCgAAAAAUAAAAAQYAAIAAAACQAAAAoAAAALAAAADAAAAACAAAAAAE
	AABByC36KVvBeRgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAI
	AAAABAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwsAAAABAQAA
	TWFjaW50b3NoSEQACAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcgPWsmAAAAkAAAAAQEA
	ADgxODM3RUZELUZCOEMtNDY3Qi1BREY5LTgyNjg4REVDQ0Y2OBgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA2AAAAP7///8BAAAAAAAAABEAAAAE
	EAAAZAAAAAAAAAAFEAAA0AAAAAAAAAAQEAAA/AAAAAAAAABAEAAA7AAAAAAAAAACIAAA
	0AEAAAAAAAAFIAAAQAEAAAAAAAAQIAAAUAEAAAAAAAARIAAAhAEAAAAAAAASIAAAZAEA
	AAAAAAATIAAAdAEAAAAAAAAgIAAAsAEAAAAAAAAwIAAAHAEAAAAAAAABwAAAJAEAAAAA
	AAARwAAAIAAAAAAAAAASwAAANAEAAAAAAAAB0AAAHAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>NSStatusItem VisibleCC Item-0</key>
	<true/>
	<key>NSStatusItem VisibleCC Item-1</key>
	<false/>
	<key>NSWindow Frame CommandOutputWindow</key>
	<string>1488 604 720 460 0 0 3008 1662 </string>
	<key>NSWindow Frame Notes Window</key>
	<string>1284 1109 440 182 0 0 3008 1662 </string>
	<key>NSWindow Frame SettingsWindow</key>
	<string>1370 581 1107 774 0 0 3008 1662 </string>
	<key>appearance</key>
	<string>dark</string>
	<key>autoSwitchInputSource</key>
	<string>com.apple.keylayout.US</string>
	<key>boundAppBundleIDs</key>
	<array/>
	<key>boundCustomCommandIDs</key>
	<array>
		<string>63f54de1-dc0e-4dc7-a39e-a4ffe3455fab</string>
		<string>bede9476-a088-4cad-afe0-51cf23fc3e44</string>
	</array>
	<key>boundCustomWindowSizeIDs</key>
	<array/>
	<key>boundExtensionCommandEntryIDs</key>
	<array>
		<string>extension:browser-tabs/index</string>
	</array>
	<key>boundQuickActionIDs</key>
	<array/>
	<key>boundQuicklinkIDs</key>
	<array/>
	<key>boundWindowLayoutIDs</key>
	<array/>
	<key>calendarMenuBarDisplay</key>
	<integer>0</integer>
	<key>compactMode</key>
	<true/>
	<key>customCommands</key>
	<data>
	W3sibmFtZSI6Ik1lcmdlIEZpbmRlciBXaW5kb3dzIiwid29ya2luZ0RpcmVjdG9yeSI6
	In5cL2RvdFwvbWFjb3NcL2FwcGxlc2NyaXB0cyIsImNvbW1hbmQiOiJcL3VzclwvYmlu
	XC9vc2FzY3JpcHQgJ1wvVXNlcnNcL25hdHN1a2lcL2RvdFwvbWFjb3NcL2FwcGxlc2Ny
	aXB0c1wvbWVyZ2Utc2hvdy1maW5kZXIuYXBwbGVzY3JpcHQnIFwiJEBcIiIsImFyZ3Vt
	ZW50cyI6W10sImlzRW5hYmxlZCI6dHJ1ZSwic2hvd3NDb25maXJtYXRpb24iOmZhbHNl
	LCJsb2Fkc1NoZWxsRW52aXJvbm1lbnQiOmZhbHNlLCJpZCI6IjYzRjU0REUxLURDMEUt
	NERDNy1BMzlFLUE0RkZFMzQ1NUZBQiIsInNob3dzT3V0cHV0IjpmYWxzZSwicmVxdWly
	ZXNDb25maXJtYXRpb24iOmZhbHNlfSx7Im5hbWUiOiJHaG9zdHR5ICBIZXJlIiwiY29t
	bWFuZCI6IlwvVXNlcnNcL25hdHN1a2lcL2RvdFwvbWFjb3NcL2FwcGxlc2NyaXB0c1wv
	Z2hvc3R0eS1oZXJlLnNoIiwiYXJndW1lbnRzIjpbXSwiaXNFbmFibGVkIjp0cnVlLCJz
	aG93c0NvbmZpcm1hdGlvbiI6ZmFsc2UsImxvYWRzU2hlbGxFbnZpcm9ubWVudCI6ZmFs
	c2UsImlkIjoiQkVERTk0NzYtQTA4OC00Q0FELUFGRTAtNTFDRjIzRkMzRTQ0Iiwic2hv
	d3NPdXRwdXQiOmZhbHNlLCJyZXF1aXJlc0NvbmZpcm1hdGlvbiI6ZmFsc2V9XQ==
	</data>
	<key>customCommandsEnabled</key>
	<true/>
	<key>disabledFallbacks</key>
	<array>
		<string>quicklink:596bea2b-3a0e-466f-b1d8-e5aa22395f68</string>
		<string>quicklink:e1bbc902-ae07-4444-8871-b1ad0f69a625</string>
		<string>quicklink:b8327c17-b458-42e0-b215-aa57c5056729</string>
		<string>quicklink:f476f6bf-d6a4-4398-b2fe-887b92c70227</string>
		<string>quicklink:a3cb40e2-4c1c-407c-9207-a43621774a82</string>
		<string>quicklink:45d11f83-019a-4bc2-9bcd-92fba0eed59a</string>
	</array>
	<key>emojiSkinTone</key>
	<string>none</string>
	<key>extensionAppearances</key>
	<data>
	eyJzeW1ib2xpZnkiOnsic3ltYm9sIjoiaGFtbWVyLmZpbGwiLCJ0aW50IjoicHVycGxl
	In19
	</data>
	<key>extensionRegistries</key>
	<data>
	W3sibmFtZSI6IlJheWNhc3QgU3RvcmUiLCJvd25lciI6IiIsInBhdGgiOiJleHRlbnNp
	b25zIiwia2luZCI6InJheWNhc3RTdG9yZSIsInJlZiI6Im1haW4iLCJpc0VuYWJsZWQi
	OnRydWUsInJlcG9zaXRvcnkiOiIiLCJpZCI6IjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAw
	LTAwMDAwMDAwMDAwMSJ9LHsibmFtZSI6InJheWNhc3RcL2V4dGVuc2lvbnMiLCJvd25l
	ciI6InJheWNhc3QiLCJwYXRoIjoiZXh0ZW5zaW9ucyIsImtpbmQiOiJnaXRodWIiLCJy
	ZWYiOiJtYWluIiwiaXNFbmFibGVkIjp0cnVlLCJyZXBvc2l0b3J5IjoiZXh0ZW5zaW9u
	cyIsImlkIjoiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAyIn1d
	</data>
	<key>extensionsEnabled</key>
	<true/>
	<key>fileSearchEnabled</key>
	<true/>
	<key>hiddenLauncherItems</key>
	<array>
		<string>window-command:toggle-fullscreen</string>
		<string>command:import-settings</string>
		<string>window-command:first-third</string>
		<string>window-command:maximize</string>
		<string>window-command:last-third</string>
		<string>window-command:move-right</string>
		<string>window-command:almost-maximize</string>
		<string>window-command:maximize-height</string>
		<string>command:support</string>
		<string>command:quit</string>
		<string>command:settings</string>
		<string>window-command:last-three-fourths</string>
		<string>window-command:center-half</string>
		<string>window-command:first-two-thirds</string>
		<string>window-command:previous-space</string>
		<string>command:check-for-updates</string>
		<string>command:about</string>
		<string>window-command:make-smaller</string>
		<string>window-command:make-larger</string>
		<string>command:open-camera</string>
		<string>window-command:reasonable-size</string>
		<string>window-command:center-two-thirds</string>
		<string>window-command:last-two-thirds</string>
		<string>window-command:center</string>
		<string>window-command:first-three-fourths</string>
		<string>command:import-from-raycast</string>
		<string>window-command:maximize-width</string>
		<string>command:calculator-history</string>
		<string>command:export-settings</string>
		<string>window-command:move-left</string>
		<string>window-command:move-up</string>
		<string>window-command:move-down</string>
		<string>window-command:next-display</string>
		<string>window-command:previous-display</string>
		<string>window-command:next-space</string>
	</array>
	<key>hotkey.command:clipboard-history</key>
	<string>{"combo":{"_0":{"carbonKeyCode":49,"carbonModifiers":768}}}</string>
	<key>hotkey.command:search-menu-items</key>
	<string>{"combo":{"_0":{"carbonModifiers":6912,"carbonKeyCode":46}}}</string>
	<key>hotkey.command:show-notes</key>
	<string>{"combo":{"_0":{"carbonKeyCode":45,"carbonModifiers":6912}}}</string>
	<key>hotkey.command:switch-windows</key>
	<string>{"combo":{"_0":{"carbonModifiers":6400,"carbonKeyCode":125}}}</string>
	<key>hotkey.command:translate</key>
	<string>{"combo":{"_0":{"carbonKeyCode":15,"carbonModifiers":6912}}}</string>
	<key>hotkey.customCommand.63f54de1-dc0e-4dc7-a39e-a4ffe3455fab</key>
	<string>{"combo":{"_0":{"carbonModifiers":6912,"carbonKeyCode":3}}}</string>
	<key>hotkey.customCommand.bede9476-a088-4cad-afe0-51cf23fc3e44</key>
	<string>{"combo":{"_0":{"carbonKeyCode":17,"carbonModifiers":6912}}}</string>
	<key>hotkey.extensionCommand.extension:browser-tabs/index</key>
	<string>{"combo":{"_0":{"carbonKeyCode":126,"carbonModifiers":6400}}}</string>
	<key>hotkey.togglePalette</key>
	<string>{"combo":{"_0":{"carbonModifiers":256,"carbonKeyCode":49}}}</string>
	<key>hotkey.windowCommand.almost-maximize</key>
	<string>{"combo":{"_0":{"carbonKeyCode":36,"carbonModifiers":6144}}}</string>
	<key>hotkey.windowCommand.bottom-half</key>
	<string>{"combo":{"_0":{"carbonKeyCode":125,"carbonModifiers":6144}}}</string>
	<key>hotkey.windowCommand.bottom-left-quarter</key>
	<string>{"combo":{"_0":{"carbonKeyCode":38,"carbonModifiers":6144}}}</string>
	<key>hotkey.windowCommand.bottom-right-quarter</key>
	<string>{"combo":{"_0":{"carbonKeyCode":40,"carbonModifiers":6144}}}</string>
	<key>hotkey.windowCommand.center-third</key>
	<string>{"combo":{"_0":{"carbonKeyCode":8,"carbonModifiers":6144}}}</string>
	<key>hotkey.windowCommand.left-half</key>
	<string>{"combo":{"_0":{"carbonKeyCode":123,"carbonModifiers":6144}}}</string>
	<key>hotkey.windowCommand.next-display</key>
	<string>{"combo":{"_0":{"carbonModifiers":6912,"carbonKeyCode":124}}}</string>
	<key>hotkey.windowCommand.previous-display</key>
	<string>{"combo":{"_0":{"carbonModifiers":6912,"carbonKeyCode":123}}}</string>
	<key>hotkey.windowCommand.right-half</key>
	<string>{"combo":{"_0":{"carbonKeyCode":124,"carbonModifiers":6144}}}</string>
	<key>hotkey.windowCommand.top-half</key>
	<string>{"combo":{"_0":{"carbonKeyCode":126,"carbonModifiers":6144}}}</string>
	<key>hotkey.windowCommand.top-left-quarter</key>
	<string>{"combo":{"_0":{"carbonKeyCode":32,"carbonModifiers":6144}}}</string>
	<key>hotkey.windowCommand.top-right-quarter</key>
	<string>{"combo":{"_0":{"carbonKeyCode":34,"carbonModifiers":6144}}}</string>
	<key>hyperKeyIncludesShift</key>
	<true/>
	<key>hyperKeyPhysicalKey</key>
	<string>rightShift</string>
	<key>hyperKeyQuickPress</key>
	<string>none</string>
	<key>interfaceSize</key>
	<string>standard</string>
	<key>launcherAliases</key>
	<dict>
		<key>command:search-files</key>
		<string>f</string>
		<key>extension:aosp-symbols/index</key>
		<string>s</string>
		<key>extension:symbolify/index</key>
		<string>s</string>
		<key>extension:translate/translate</key>
		<string>tr</string>
	</dict>
	<key>navigationEnabled</key>
	<true/>
	<key>notesEnabled</key>
	<true/>
	<key>paletteTransparency</key>
	<integer>0</integer>
	<key>popToRootTimeout</key>
	<integer>0</integer>
	<key>quickActionInstructions</key>
	<dict/>
	<key>quickActionLanguage</key>
	<string>zh</string>
	<key>quickActionPreviews</key>
	<dict>
		<key>translate</key>
		<true/>
	</dict>
	<key>quickActionsEnabled</key>
	<false/>
	<key>quicklinksEnabled</key>
	<true/>
	<key>showFavoritesInCompactMode</key>
	<true/>
	<key>showInMenuBar</key>
	<true/>
	<key>windowManagementCycleMode</key>
	<string>displays</string>
	<key>windowManagementEnabled</key>
	<true/>
	<key>windowManagementGap</key>
	<integer>10</integer>
</dict>
</plist>
